li.hello-notify-item {
    position: fixed;
    transition: all .8s;
    -webkit-animation: hello-notify .8s;
}

li.hello-notify-clean {
}

li.hello-notify-message {
    list-style: none;
    background-color: #69ff85;
    padding: 10px;
    border-radius: 5px;
}

@-webkit-keyframes hello-notify {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}